#!/bin/bash
export WORKON_HOME={{ default_workon_home }}
export VIRTUALENVWRAPPER_PYTHON={{ default_python_path }}
export DEFAULT_PROJECT_HOME={{ default_project_home }}
source {{ default_virtualenvwrapper_path }}
